.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

materialDesign
app/app.iml
app/build
aFileChooser/build
aFileChooser/aFileChooser.iml
utilities/build
utilities/utilities.iml
NonSenseFilePicker/NonSenseFilePicker.iml