.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

app/app.iml
app/build
utilities/build
utilities/utilities.iml
NonSenseFilePicker/NonSenseFilePicker.iml
android-floating-action-button/android-floating-action-button.iml
.navigation
NonSenseFilePicker/build
android-floating-action-button/build
recyclerviewfastscroller/recyclerviewfastscroller.iml