<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.cammino.risuscito"
    android:installLocation="auto"
    android:versionCode="53"
    android:versionName="3.0.0_BETA7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name="android.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/RisuscitoTheme" >
        <activity
            android:name="it.cammino.risuscito.MainActivity"
            android:theme="@style/RisuscitoTheme.WithNavDrawer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.cammino.risuscito.PaginaRenderActivity"
            android:label="Canto">
        </activity>
        <activity
            android:name="it.cammino.risuscito.PaginaRenderFullScreen"
            android:label="Canto">
        </activity>
        <activity
            android:name="it.cammino.risuscito.GeneralInsertSearch"
            android:label="@string/title_activity_inserisci_titolo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.cammino.risuscito.CustomLists" />
        </activity>
        <activity
            android:name="it.cammino.risuscito.CreaListaActivity"
            android:label="" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.cammino.risuscito.CustomLists" />
        </activity>
        <!--<activity-->
            <!--android:name="com.ipaulpro.afilechooser.FileChooserActivity"-->
            <!--android:exported="true"-->
            <!--android:icon="@drawable/abc_ic_ab_back_mtrl_am_alpha"-->
            <!--android:theme="@style/Theme.AppCompat.Light">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.GET_CONTENT" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.OPENABLE" />-->
                <!--<data android:mimeType="audio/mpeg" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePicker.Theme">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.GET_CONTENT" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>
